header.container {
    margin: 80px;
}


p {
    text-align: center;
}

.countdown {
    text-align: right;
}

.title {
    font-size: 20px;
}

.two {
    margin: 100px;
}

h1, h2 {
    text-align: center;
}